@model IEnumerable<Compartido.DTOS.Disciplina.DisciplinaDatosCompletos>

@{
    ViewData["Title"] = "ListarDisciplinas";
}

<h1>ListarDisciplinas</h1>
<partial name="_Avisos" />


<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model == null || !Model.Any())
{
    <div>@ViewBag.msg</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.AnoDeIntegracion)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.AnoDeIntegracion)</td>
                </tr>
            }
        </tbody>
    </table>
}
